

<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<!--  way 1
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
    </li> 
  <% end %>
-->

<!--  way 2
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
-->

<!-- way 3 -->
<%= render @users %>
<!-- end way 3 -->

</ul>

<%= will_paginate %>

